body {
    background-color: #192f5e;
    font-family: sans-serif;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}
/* 8888888888888888888 header & nav 888888888888888888888 */
/* step1. Style the default sate, Starting with the mobile view, style the layout and links
 for how they will looke when visible. */
header{
    background-color: white;
    padding: 2%;
}

header a {
    color:#3f3f3f;
    text-decoration: none;
    display: block;
}

header a:hover,
header a:active{
    background-color: gainsboro;
    border-radius: 4px;
}


.toggle-btn{
    border:none;
    background-color: #fff;
    outline: none;
}

.toggle-btn:hover{
    cursor:pointer;
}

svg rect{
    fill:#3f3f3f;
}

.menu li{
    line-height: 40px;
    text-align: center;
}

/* step2. Now let's hide the menu. Once it's hidden this is tje default load stage*/

header nav{
    /* display: none; */
    max-height: 0;
    overflow:hidden;
    transition:max-height 0.7s ease-out;
}

/* step3 create  a special class that will show the menu. this class name exists only
 in the css file.  Next the javascript will add this class to the nav element for us.*/
.show-nav{
    /* display: unset; */
    max-height: 200px;
}


/* 8888888888888888888 section 88888888888888888888 */

section{
    padding:3.25rem;
    text-align: center;
    text-transform: uppercase;
}

section p{
    color:#d5e294;
    border-bottom: 2px solid #d5e294;
    padding:10px;
    margin:10px;
    font-size: 1.777rem;
}

section h2{
    color:#fff;
    font-size:3.157rem;
}
/* step4. add media query and show the nav by default and style it as a 
horizantal nav*/
@media only screen and (min-width:37.5em){
    .toggle-btn{
        display: none;
    }

    /* set nav by default, so give it a height back */
    header nav{
        max-height: 200px;
        overflow: visible;
    }

    header,
    .menu{
        display: flex;
        justify-content: space-between;
    }

    .menu li{
        margin-left: 0.5rem;
    }

    .menu li a{
        padding: 0  0.5rem;
    }

}